.container {
    border: black dashed 1px;
    border-radius: 10px;

    background-color: #C0C0C0;

    margin: 50px;
    padding: 10px;

    box-shadow: 0 0 20px 10px red;

    column-count: 3;

    display: grid;
    grid-template-columns: [start] 1fr [L1] 1fr [L2] 1fr [end];
    grid-template-rows: auto;
}